@import url("../assets/css/media.css");

.main {
  display: flex;
}

.main-inner {
  display: flex;
}

@media screen and (--small-screen) {
  .main{
    justify-content: center;
    align-items:center
  }
	.main-inner{
    flex-direction: column;
  }
}

